
body {
    background-color: rgba(148, 24, 148, 0.568);
    

}




.crystalRow {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 3%;
    justify-content: center;

}

 
.container {
    background-image: url(https://www.shape.com/sites/shape.com/files/u398/crystals.jpg);
    opacity: .65;
    
}

.jumbotron {
    text-align: center;
    font-size: 30px;
}

.card, .jumbotron {
    background-color: rgb(179, 67, 179);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.card {
    font-size: 20px;
}