.img {
    width: 10px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    
    
}

.crystals {
    float: left;
    padding:5px;
    margin: 5px;
    
}

 #crystalA {
    float: left;
    margin-left: 25px;
}

.container {
    background-color: black;
    
}